body{
    background: linear-gradient(25deg, #f181aa, #d36c76 50%);
    display: flex;
    align-items: center;
    min-height: 100vh;
    font-family: sans-sarif;
}
.container{
    background-color: #eee9e9;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-size: 30px;
    margin-bottom: 1.5rem;
}
.timer{
    font-size: 40px;
    background-color: #ffffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    animation: pluse 1.5s infinite alternate;
}
@keyframes pluse{
    from{
        transform: scale(1);
    }
   to{
    transform: scale(1.05);
   }
}
.timer span{
    width: 110px;
    display: inline-flex;
    text-align: center;
    
    
}
.controls{
    display: flex;
    gap: 1rem;
}
button{
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: #f25191;
    color: #ffffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
button:hover{
    background-color: #d36c76;
}
.lap-title{
    font-size: 1.5rem;
}
.laps{
    width: 100%;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    max-height: 200px;
    background-color:#ffffffff ;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}
li{
    padding: 1rem;
    border-color: 1px solid #e0e0e0;
}
li:last-child{
    border-bottom:none;
}